<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p> your ip address is <strong>{{ip}}</strong></p>
    <p>you are probably in <strong>{{country}}</strong> and organisation is <strong>{{org}}</strong></p>
    <p>your region is<strong>{{region}}</strong> and city is <strong>{{city}}</strong></p>
    <p>location:<strong>{{loc}}</strong></p>
    <p>temperature : <strong>{{temp}}</strong></p>

    <!-- <iframe style="border: 0;width:600 ;height:450"
        src="https://www.google.com/maps/embed/v1/view?center={{latitude}},{{longitude}}&zoom=8"
    >

    </iframe> -->
</body>
</html>